.App {
  background-color: #4682b412;
    height: 100vh;
}

.headerText {
  font-size: 0.8rem;
}
.smallHeaderText {
  font-size: 0.7rem;
  font-weight: 500;
}

.generalText {
  font-size: 0.6rem;
}

.smallText {
  font-size: 0.5rem;
}

.listInfo {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
}